<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Operator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <link href='http://fonts.googleapis.com/css?family=Bitter:700|Open+Sans:400italic' rel='stylesheet' type='text/css'>
    <link href="static/css/style.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body id="top">


    <header id="header">
      <h1>Operator</h1>
      <h2>Hello! <br/>Who can I call for you?</h2>
    </header>

    <div class="wrapper">

      <section id="app" class="animated fadeIn">
        <div class="gw">
          <div class="g one-whole">
            <h1>Operator</h1>
            <emph>Hello! <br/>Who can I call for you?</emph>
          </div>
        </div>
      </section>

      <section id="about" class="animated fadeIn">
        <div class="gw">
          <div class="g one-whole">
            <h1>About Operator</h1>
          </div>
        </div>
      </section>

      <footer class="animated fadeIn">
        <div class="gw">
          <div class="g one-whole">
            <p>Made by <a href="http://theopak.com">Theo Pak</a> &amp; <a href="http://derek-schultz.net">Derek Schultz</a> for <a href="http://hackRU.org">HackRU Spring '14</a>.</p>
          </div>
        </div>
      </footer>

    </div><!-- .wrapper -->    


    <script src="static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="static/js/jquery.smooth-scroll.min.js" charset="utf-8"></script>
    <script>

      $(document).ready(function(){

        // Faster scrolling
        //   via <thecssninja.com/javascript/pointer-events-60fps>.
        var body = document.body, timer;
        window.addEventListener('scroll', function(){
          clearTimeout(timer);
          if(!body.classList.contains('disable-hover'))
            body.classList.add('disable-hover')
          timer = setTimeout(function(){
            body.classList.remove('disable-hover')
          }, 500);
        }, false);

        // Internal Link Smooth Scroll
        $('a').smoothScroll({
          offset: -50
        });

      });

      // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      //ga('create', 'UA-xxxxxx', 'operator.com');
      ga('send', 'pageview');

      // Fancy charts and lists etc
      getData();

    </script>

  </body>
</html>