<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Operator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <link href='http://fonts.googleapis.com/css?family=Bitter:700|Open+Sans:400,400italic' rel='stylesheet' type='text/css'>
    <link href="static/css/style.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body id="top">


    <header id="header" itemscope itemtype="http://schema.org/Organization">
      <h1 itemprop="name">Operator</h1>
      <h2 itemprop="description">Need me to call someone for you? <br/>I'll wait on hold and then let you know when it's time to talk to a real human being.</h2>
    </header>

    <div class="wrapper">

      <section id="app" class="animated fadeIn">
        <ul class="form-fields">
           <li>
              <label>Who can I call for you?</label>
              <input type="text" class="input text-input" placeholder="Type name or number&hellip;">
              <small class="extra-help"><a class="next">next <span class="entypo chevron-right"></span></a></small>
           </li>
           <li>
              <label>What language do you speak?</label>
              <input type="text" class="input text-input" placeholder="Type name or number&hellip;">
              <small class="extra-help"><a class="next">next <span class="entypo chevron-right"></span></a></small>
           </li>
           <li>
              <label>And what seems to be the problem?</label>
              <textarea class="input " placeholder="Type a full sentance."></textarea>
              <small class="extra-help"><a class="next">next <span class="entypo chevron-right"></span></a></small>
           </li>
        </ul>
      </section>

    </div><!-- .wrapper -->    

    <footer class="animated fadeIn">
      <p>Made by <a href="http://theopak.com">Theo Pak</a> &amp; <a href="http://derek-schultz.net">Derek Schultz</a>.</p>
    </footer>


    <script src="static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="static/js/jquery.smooth-scroll.min.js" charset="utf-8"></script>
    <script>

      // Focus forward/back
      $('.form-fields .input').on('focus', function(e){
        $(this).parent().addClass('active');
      });
      $('.form-fields .input').on('blur', function(e){
        $(this).parent().removeClass('active');
      });
      $('.form-fields label').on('click', function(e){
        console.log('yup');
        $(this).next('.input').focus();
      });
      $('.form-fields .next').on('click', function(e){
        $(this).parent().parent().next('li').find('.input').focus();
      });
      $('.form-fields .input').bind('keyup', function(e){
        // Use [Backspace, Left, Up] and [Enter, Right, Down]
        //   to iterative the form appropriately
        if(e.keyCode==8 || /*e.keyCode==37 ||*/ e.keyCode==38) {
          $(this).parent().prev('li').find('.input').focus();
        } else if(e.keyCode==13 || /*e.keyCode==39 ||*/ e.keyCode==40) {
          $(this).parent().next('li').find('.input').focus();
        } 
      });

      $(document).ready(function(){

        // Faster scrolling
        //   via <thecssninja.com/javascript/pointer-events-60fps>.
        var body = document.body, timer;
        window.addEventListener('scroll', function(){
          clearTimeout(timer);
          if(!body.classList.contains('disable-hover'))
            body.classList.add('disable-hover')
          timer = setTimeout(function(){
            body.classList.remove('disable-hover')
          }, 500);
        }, false);

        // Internal Link Smooth Scroll
        $('a').smoothScroll({
          offset: -50
        });

        // Select first form
        $('.wrapper .form-fields li').first().addClass('active');
        $('.wrapper .form-fields li input').first().focus();

      });

      // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-10935216-9', 'happyoperator.com');
      ga('send', 'pageview');

    </script>

  </body>
</html>