<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Operator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <link href="static/css/style.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body id="top">


    <header id="header">
      <a class="link-complex media brand" href="/#top">
        <span class="media__img img--round"> </span>
        <h1 class="media__body" itemprop="name"><span class="link-complex__target">Lightfeed</span></h1>
      </a>
      <ul class="nav nav--stacked">
        <li><a class="link-complex" href="#about"><span class="entypo vcard"> </span><span class="link-complex__target">About</span></a></li>
        <li><a class="link-complex" href="#data"><span class="entypo line-graph"> </span><span class="link-complex__target">Data UI</span></a></li>
      </ul>
    </header>

    <div class="wrapper">

      <section id="about" class="animated fadeIn">
        <div class="gw">
          <div class="g one-whole">
            <h1>Technical Demonstration</h1>
            <p>A large data set is visualized below using <a href="http://d3js.org/">D3.js</a> with the <a href="http://square.github.io/crossfilter/">Square crossfilter</a>.</p>
          </div>
        </div>
      </section>

      <section id="data" class="animated fadeIn">
        <div class="gw">
          <div class="g one-whole">
            <h1>Data</h1>
            <div id="charts">
              <div id="temp-chart" class="chart">
                <div class="title">temp</div>
              </div>
              <div id="als-chart" class="chart">
                <div class="title">als</div>
              </div>
              <div id="date-chart" class="chart">
                <div class="title">date</div>
              </div>
            </div>
            <aside id="totals"><span id="active">-</span> of <span id="total">-</span> flights selected.</aside>
            <div id="lists">
              <table class="table--striped table--data list">
                <thead>
                  <tr>
                    <th>date</th>
                    <th>temp</th>
                    <th>als</th>
                  </tr>
                </thead>
                <tbody id="list-data"></tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <footer class="animated fadeIn">
        <div class="gw">
          <div class="g one-whole">
            <p>&copy; 2014 Lightfeed and the Smart Lighting ERC et al., except as indicated.</p>
          </div>
        </div>
      </footer>

    </div><!-- .wrapper -->    


    <script src="static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="static/js/jquery.smooth-scroll.min.js" charset="utf-8"></script>
    <script>

      $(document).ready(function(){

        // Faster scrolling
        //   via <thecssninja.com/javascript/pointer-events-60fps>.
        var body = document.body, timer;
        window.addEventListener('scroll', function(){
          clearTimeout(timer);
          if(!body.classList.contains('disable-hover'))
            body.classList.add('disable-hover')
          timer = setTimeout(function(){
            body.classList.remove('disable-hover')
          }, 500);
        }, false);

        // Internal Link Smooth Scroll
        $('a').smoothScroll({
          offset: -50
        });

      });

      // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      //ga('create', 'UA-xxxxxx', 'operator.com');
      ga('send', 'pageview');

      // Fancy charts and lists etc
      getData();

    </script>

  </body>
</html>