/**
* style.scss
* Theo Pak <mail@theopak.com>, Derek Schultz <derek@derek-schultz.net>
*/


/* NORMALIZATION, ETC ===================================================== */
@import "vars";
@import "inuit.css/inuit";
@import "animate-custom.css";
@import "nprogress.css";
@import "entypo.css";


/* GLOBAL COMPONENTS ====================================================== */
body {
  margin: 0 auto;
  min-height: 100%;
  line-height: 1.375em;
  text-rendering: optimizeLegibility;
  background: $neutral-color no-repeat left center fixed;
  // background-image:  url(../img/picjumbo.com_IMG_3642_export.jpg);
  background-size: cover;
  color: $base-ui-color;
  overflow: hidden;
}
::selection {
  background: #add1ed;  // LOL
  text-shadow: none;
  color: $brand-color;
}
a {
  cursor: pointer;
  color: $active-color;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}
pre, code, input {
  font-family: $instructions-face;
}
.disable-hover, .disable-hover * {
  // Improves scroll performance (especially on mobile).
  // Refer to <thecssninja.com/javascript/pointer-events-60fps>
  pointer-events: none !important;
}
img.loading {
  opacity: 0.3;
}
.entypo {
  font-size: 2em;
  line-height: 0.5em;
  vertical-align: middle;
}


/* HEADER ================================================================= */
header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  margin: 0 auto;
  padding: 1em 20px;
  width: 100%;
  color: $base-ui-color;
  background-color: $neutral-color;
  text-align: center;
  z-index: 99;
  h1 {
    margin: 0;
    font: 700 1.75em $brand-face;
    letter-spacing: -0.02em;
    text-shadow: 0 1px 0 $brand-color;
    white-space: nowrap;
  }
  a {
    color: $base-ui-color;
    text-decoration: none !important;
  }
}


/* CONTENT BODY =========================================================== */
.wrapper {
  box-sizing: border-box;
  margin: 3.5em+1em auto 0;
  padding: 2em 20px 8em;
  max-width: 540px;
  background-color: $brand-color;
  text-align: center;
  p {
    font: italic 1em/1.5em $instructions-face;
    padding: 0 0.125em;
    emph {
      display: block;
      clear: both;
      font-size: 1.5em;
    }
  }
  hr {
    border-top: none;
  }
}
ul.form-fields {
  li {
    position: relative;
    margin-bottom: 3em;
    text-align: left;
    transition: all 1s ease-in-out;
  }
}
.hidden {
  display: none;
}
label, input, textarea, select, .extra-help, .btn {
  box-sizing: border-box;
  margin: 0;
  padding: 0.125em;
  width: 100%;
  border: none;
  background: transparent;
  color: darken($base-ui-color, 15);
  transition: all 0.25s ease-in-out;
}
.extra-help {
  //position: absolute;
  //right: 0;
  //bottom: 0;
  display: block;
  float: right;
  margin: -1.75em 0 0;
  padding-top: 0;
  width: auto;
  line-height: 1.5em;
  text-align: center;
  transition: none;
}
.active label, label:focus, 
.active input, input:focus, 
.active textarea, textarea:focus,
.active select, select:focus,
.active .extra-help, 
.next, .btn:hover, .btn:focus {
  color: $base-ui-color;
  outline: none;
}
label {
  font-style: italic;
  font-family: $instructions-face;
}
input, textarea {
  border: none;
  border-bottom: 1px solid transparent;
  background: transparent;
  font-family: $input-face;
  //text-shadow: 0 -1px 0 lighten($base-ui-color, 20);
  &:focus {
    border-bottom-color: $base-ui-color;
  }
  // Unfortunately, you can't change the selection/highlight
  //   color due to outsanding browser bugs. Maybe there's a 
  //   readability issue or something? idk whatevs.
}
*::-webkit-input-placeholder {
  color: darken($base-ui-color, 15);
}
.next {
  display: block;
  padding-left: 0;
  width: 1em;
  text-align: center;
  vertical-align: top;
  font: normal 1em $instructions-face;
  font-style: normal;
  transition: none;  // The parent already transitions.
  &:hover {
    text-decoration: none;
  }
}
.btn-primary {
  margin-bottom: 3em;
  &:focus {
    border-bottom-width: 1px;
  }
}


/* TWITTER TYPEAHEAD ====================================================== */
.twitter-typeahead {
  width: 100%;
}
.tt-dropdown-menu, option {
  margin: 0;
  padding: 0.125em;
  width: 100%;
  font-family: $input-face;
  background: transparent;
}
input.tt-hint {
  color: darken($base-ui-color, 30);
}


/* FOOTER ================================================================= */
footer {
  padding: 0.375em 20px 0.75em;
  font: italic 1em $instructions-face;
  text-align: center;
  color: darken($base-ui-color, 20);
  p {
    //border-top: 1px solid darken($base-ui-color, 50);
    margin: 0;
  }
  a {
    font-weight: bold;
    color: darken($base-ui-color, 20);
    &:hover {
      color: $active-color;
    }
  }
}


/* RESPONSIVE STYLES ====================================================== */
@include media-query(desk) {
  body {
    font-size: 1.2em;
  }
  .wrapper {
    padding-left: 2em;
    padding-right: 2em;
  }
}
